# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

### Some of the commonly used libraries used by Data Scientists include:
 1. Numpy
 2. Pandas
 3. Matplotlib

| Data Science Tools |
| ---------- |
| Python |
| R |
|Scala |

In [3]:
print ('This a simple arithmetic expression to mutiply then add integers')
(3*4)+5

This a simple arithmetic expression to mutiply then add integers

17

In [4]:
print ('This will convert 200 minutes to hours by diving by 60')
200/60

This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author
Keamogetsoe Mphuthi